header {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px !important;
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd;
}
footer {
    text-align: center;
    border-top: 2px solid #ddd;
    padding-top: 16px;
    margin-top: 32px;
    font-style: italic;
    font-size: 15px;
    font-family: Palatino, Georgia, serif;
}
h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
section.message {
    border-bottom: 2px solid #ddd;
    margin-top: -12px;
    margin-bottom: 32px;
}
.page-title {
    position: relative;

    .profile {
        position: absolute;
        top: -42px;
        right: 2px;

        form {
            display: inline;

            input {
                margin-left: 12px;
            }
        }
    }
}
.search-results {
    margin-top: 16px;
}
