header {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd;
}
footer {
    text-align: center;
    border-top: 2px solid #ddd;
    padding-top: 12px;
    margin-top: 32px;
}
h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
